:root {
    --primary-color: black;
    --secondary-color: #39a6b2;
    --tertiary-color: #024e76;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}
/*HEADER STYLES START*/
 header {
     padding: 20px 35px;
     background-color: var(--tertiary-color);
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     position: -webkit-sticky;
     position: sticky;
     top: 0;
     background-image: url("../images/hero-bg.jpg");
     background-size: cover;
     background-position: 0 -70px;
     background-attachment: fixed;
     z-index: 9999;
 }

 header h1 {
     font-family: bold;
     font-size: 36px;
     color: var(--primary-color);
     margin: 0;
     text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 header a {
     text-decoration: none;
     color: var(--primary-color);
 }

 header nav {
     margin: 7px 0;
 }

 header nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     list-style: none;
 }

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/*HEADER STYLES END*/

/*Background image STYLES START*/
.bcgrnd-img {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: 0 -70px;
    background-attachment: fixed;
    align-items: flex-start;
}

.subtitle {
    width: 100%;
    text-align: right;
    margin: 15% 3% 15% 0;
    color: rgba(227, 243, 6, 0.849);
    font-size: 25px;
    line-height: 1.2;
    font-style: italic;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-title {
    padding-top: 75px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    font-size: 48px;
    color: var(--primary-color);
    border-bottom: 3px solid;
}




.intro p {
    text-align: center;
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

  
.primary-border {
    border-color: var(--primary-color);
}
  
.secondary-border {
    border-color: var(--tertiary-color);
}

  /*Projects INFO*/

.project {
    flex: 1;
    margin: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
}

.project img {
    width: 100%;
    aspect-ratio: 2 / 1;
}

.project-descr {
    line-height: 1.3;
    padding: 10px;
    text-align: center;
    justify-content:end;
    
}

.project-descr h3 {
    font-size: 28px;
}

.project-descr h4 {
    font-weight: lighter;
    font-size: 22px;
}

.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 150px 0 150px;
}

/*END projects INFO*/

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* REACH OUT STYLES START */
.contact {
    background: var(--secondary-color);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info >* {
    flex: 1;
    margin: 15px;
}

.contact-info iframe {
    height: 400px;
}

.contact-info h3 {
    font-size: 32px;
}
  
.contact-info p,
.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    color: white;
}
  
.contact-info a, .contact-info h3 {
    color: var(--primary-color);
}

.contact-form a {
    text-decoration: none;
}

.contact-form a img {
    height: 50px;
    width: 50px;
}

/*FOOTER STYLES START*/
footer {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {    
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

/*FOOTER STYLES END*/

.flex-row {
    display: flex;
}

/* BORDER RADIUS OF ALL FORMS */
.projects article, .projects article img {
    border-radius: 20px;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        font-size: 33px;
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 15px;
        padding: 10px 5px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .subtitle {
        width: 100%;
        text-align: right;
    }

    .section-title {
        width: 80%;
    }

    .project {
        flex: 0 100%;
    }

    .projects {
        padding: 0 80px 0 80px;
    }

    .contact-info iframe {
        flex: 1 100%;
    }
}

@media screen and (max-width: 768px)  {
    section {
        padding: 0;
    }

    header {
        padding: 0;
        justify-content: center;
        position: relative;
        background-position-y: 0;
    }
        
    .bcgrnd-img {
        background-position-y: 0;
    }


    .subtitle {
        width: 50%;
        margin: 10% 3% 10% 40%;
    }

    header nav ul li a {
        padding: 5px 5px;
        font-weight: lighter;
        font-size: 2.6vw;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

}
@media screen and (max-width: 575px) {
    header {
        padding: 0;
        justify-content: center;
        position: relative;
        background-position-y: 0;
        height: fit-content;
    }

    header nav ul li a {
        padding: 0 0 0 5px;
        font-size: 3.5vw;
    }
     header nav {
         margin: 0;
     }
        
    .bcgrnd-img {
        background-position-y: 0;
    }


    .bcgrnd-img-form button {
        width: 100%;
    }

    .section-title {
        width: 80%;
    }

    .intro p {
        width: 90%;
    }

    .project {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }

}